@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:regular,bold');


body {
  margin: 0;
  font-family: 'Noto Sans KR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
  width:100%;
};


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New','NotoSansKR',
    monospace;
}

